In [35]:
import pandas as pd
import seaborn as sns

In [109]:
df = pd.read_csv('BlackFriday.csv')
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Data Cleaning

In [3]:
df.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [4]:
df['Product_Category_2'].unique()

array([nan,  6., 14.,  2.,  8., 15., 16., 11.,  5.,  3.,  4., 12.,  9.,
       10., 17., 13.,  7., 18.])

In [5]:
df['Product_Category_3'].unique()

array([nan, 14., 17.,  5.,  4., 16., 15.,  8.,  9., 13.,  6., 12.,  3.,
       18., 11., 10.])

#### Since there are 17 and 15 unique values in the Product_Category 2 & 3 . Imputing the them makes no sense in context of the Null values, so it's better if we drop the columns.
##### Imputing can change the context of the Real Data.(In my thought).

In [6]:
del df['Product_Category_2']
del df['Product_Category_3']
# # Deleting the columns

In [7]:
df.duplicated().sum()

0

## Analyzing the Columns

In [8]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969

In [9]:
df['User_ID'].nunique() # Total no of Unique Customers

5891

In [10]:
df['Product_ID'].nunique() # Total no of Unique Products

3623

In [11]:
df['Age'].unique() # Age ranges

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [12]:
df['City_Category'].unique() # Unique city categories

array(['A', 'C', 'B'], dtype=object)

In [13]:
df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [14]:
df['Marital_Status'].unique() # 0 for unmarried and 1 for married

array([0, 1], dtype=int64)

In [15]:
df['Occupation'].unique() # every code represent certain occupation

array([10, 16, 15,  7, 20,  9,  1, 12, 17,  0,  3,  4, 11,  8, 19,  2, 18,
        5, 14, 13,  6], dtype=int64)

In [16]:
df['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [17]:
df['Purchase'].sum() # Total sales amount

5017668378

In [18]:
df['Purchase'].sum()/len(df['Purchase']) # Avg sales amount per person

9333.859852635065

In [19]:
df['Purchase'].nunique() # Total No of sales

17959

In [20]:
for col in df.columns:
    print(col,':',df[col].nunique())

User_ID : 5891
Product_ID : 3623
Gender : 2
Age : 7
Occupation : 21
City_Category : 3
Stay_In_Current_City_Years : 5
Marital_Status : 2
Product_Category_1 : 18
Purchase : 17959